#map {
    /* height: 600px; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#key {
      background-color: rgba(0, 0, 0, 0.8);
      width: 22.22%;
      height: auto;
      overflow: auto;
      position: absolute;
      top: 0;
      left: 0;
    }

    .total {
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      font-size: 15px;
    }

    .table {
      font-family: 'Montserrat', sans-serif;
      color: white;
      border-collapse: collapse;
    }

#asof {
    background: rgba(200,200,200,0);
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 10px;
    border-radius: 3px;
    width: 200px;
    /* border: 1px solid rgba(0, 0, 0, 0.4); */
}
