#map {
    height: 100vh;
}

#x1 {
    height: 15vh;
}

#x2 {
    height: 15vh;
}

#x3 {
    height: 70vh;
}

#listings {
    height: 55vh;
    overflow: auto;
}

@media only screen and (max-width: 720px) {
    #x1 {
        height: 22vh;
    }

    #x2 {
        height: 22vh;
    }

    #x3 {
        height: 56vh;
    }

    #listings {
        height: 30vh;
        overflow: auto;
    }
}

@media only screen and (max-width: 480px) {
    #x1 {
        height: 25vh;
    }

    #x2 {
        height: 25vh;
    }

    #x3 {
        height: 50vh;
    }

    #listings {
        height: 25vh;
        overflow: auto;
    }
}

@media only screen and (max-width: 320px) {
    #x1 {
        height: 28vh;
    }

    #x2 {
        height: 28vh;
    }

    #x3 {
        height: 44vh;
    }

    #listings {
        height: 20vh;
        overflow: auto;
    }
}

input[type=text] {
    padding: 5px;
    height: 25px;
}

.listings .item {
    border-bottom: 1px solid #3f3f3f;
    text-decoration: none;
    padding-bottom: 4px;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
    margin-bottom: 0px;
    padding-top: 4px;
    color: #00853e;
    font-weight: 700;
}

.listings .item.active .title,
.listings .item .title:hover { color: #8cc63f; }

.listings .item.active {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
}
